.container{
    display: flex;
    gap: 0.5rem;
    font-size: 2rem;
    
}

.main{
    justify-content: center;
    flex-grow: 4;
    width: ;
}
.toolbar{
    display: flex;
    flex-direction: column;  
    align-self: ;
}

.item{
    background-color: aquamarine;
    padding: 0.25rem;
    flex-grow: 2;
}
@media all and (min-width: 640px){

    .toolbar{
        flex-direction: row;
        align-items: baseline;
    }
    .container{
        flex-direction: column-reverse;
        height: 570px;
    }
}